body {
  background: lightblue;
}
p {
  color: black;
  font-family: monospace;
  text-align: center;
  font-size: 20px;
}
h1 {
  font-weight: bolder;
  color: black;
  text-align: center;
  text-decoration:underline;
  font-family: monospace
}
h2 {
  color: black;
  font-family: monospace;
  text-align: center  
}
h3 {
  color: black;
  font-family: monospace;
  text-align: center;
}

img {
  float:center;
  border-style: solid;
  border-color: aqua;
    width:350px;
}

a {
    font-family: cursive;
  font-size: 17px
}
.rotate {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rotate2 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.rotate {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
